C2_to_C2
C2_to_C3
C3_to_C2
C3_to_C3
bin
obj
MAIN BKUP1.cpp
doxygen
c2export
.vscode
.vs
x64
c2export_vs/Release

*.pdb
*.exe
*.o
*.cbp
*.depend
*.layout
*.nsentry
*.save-failed
*.cscope_file_list

!bin/run_make.bat
